@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#minicircle{
    position: absolute;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    z-index: 99999;
}

#main{
    width: 100%;
    background-color: #000;
}

#hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: #fff;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding:20px 40px;
    color:#fff;
}

#nav a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

#heading{
    margin-top: 90px;

}
#heading h1{
    font-family: 'Roboto', sans-serif;
    font-size: 10vw;
    font-weight: 900;
    opacity: 0.7;
    margin-left: 30px;
    line-height: 1;
}

#heading #secondh1{
    margin-left: 230px;
}
.blocktext{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: fit-content;
}

.blocktext h5{
    text-transform: uppercase;
    text-align: right;
    font-size: 15px;

}
#smallHeading{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 100px;
    padding-right: 50px;
}
#smallHeading h5{
    text-align: right;
    margin-top: .5vw;
    font-size: 1vw;
}

.bounding{
    width: fit-content;
    overflow: hidden;

}

.bounding .boundingElem{
    transform: translateY(100%);
}

#herofooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 3%;
    padding: 0 2vw;
}

#herofooter a{
    color:#fff;
    text-transform: uppercase;
    text-decoration: none;
}

#herofooter .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #888;
}

#herofooter .iconset{
    display: flex;
    gap: 5px;
}

#second{
    color: #fff;
    padding-right: 10vw;
    padding-top: 200px;
    background-color: #000;
    /* width: 100vw;
    height: 100vh; */
    
}

.elem{
    position: relative;
    width: 100%;
    border-top: 1px solid #888;
    padding: 3.5vw 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0;
}

.elem h1{
    text-transform: uppercase;
    font-size: 7.6vw;
    opacity: 0.7;
}

.elemlast{
    border-bottom: #888 solid 1px;
    
}

.elem img{
    position: absolute;
    z-index: 999;
    height: 120%;
    opacity: 0;
}
#about{
    width: 100%;
    color: #fff;
    background-color: black;
    padding: 10vw 10vw;
    padding-left: 40vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

#about img{
    width: 200px;
    border-radius: 50%;
}

#textabout{
    width: 30rem;
}

#textabout h5{
    text-transform: uppercase;
    opacity: 0.6;
    margin-bottom: 10px;
}

#textabout p{
    line-height: 1.7;
    margin-bottom: 30px;
}

#textabout a{
    padding: 12px 22px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 100px;
    text-decoration: none;
    font-size: 12px;
}

#subscribe{
    color: #fff;
    padding: 20px 30px;
    background-color: #000;
    padding-bottom: 7vw;

}

#subscribe h5{
    text-transform: uppercase;
    opacity: 0.6;
}

#subsscribe h3{
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;
}

#footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px;
    background-color: #000;
    color: #fff;
}

#footerleft{
    display: flex;
    gap: 20px;
}

#footer a{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}

#footerright{
    display: flex;
    gap: 30px;
}